# 내 뇌 살려

아, 장장 아침부터 8시간을 docker가 아주 쪼금이라도 돌아가게 만드는 것에 써버린 후, 뇌가 터져 버린 다음 맞이하는 '아직 저녁 먹기 전인 오후 7시 반'은 그렇게
씁쓸할 수가 없다. 과연 인류는 이런 시간들을 생산적이었다 할 수 있을까. 그러기엔 docker는 너무나도 먼 미래의 것이었다.

# AI는 아직도 docker에 대해 무지하다

오늘 zed max mode와 claude token을 왕창 써버렸음에도 아직 나는 제대로 된 docker container를 만들지 못했다. 정말 안타까운 일이다.
사람들은 얼마나 ai가 엄청난지만 강조하지만 나는 사실 아직 잘 모르겠다. 정말 '똑똑한' ai는 도대체 언제 만들어지는 것인가?

오늘 하고자 했던 건, 다름이 아니라

1. 백엔드 컨테이너
- 얘는 그냥 hot reloading 수행하는 서버인데 그냥 cargo watch -x run만 돌려서 구현했음.
- 근데 왜인지 모르게 포트에 요청 날려도 로그가 안 찍힘 ㅋㅋㅋㅋㅋㅋ

2. 데이터베이스 컨테이너
- 얘가 제대로 문제였는데, 초기 이미지 빌드하고, 종료할 때마다 db 그대로 export해서 data-consistency를 유지하는 것.
- 결국 장장 6시간 박고 실패해서 메모리로만 돌아가는 아주 basic한 이미지만 남음.

이 두 개의 간단한 컨테이너를 만드는 것이었다. 장렬히 실패하고 말았다. 다시 상기시키려니 아주 눈에서 눈물이 하염없이 흐르는구나.
claude는 이런 내 맘도 몰라주고 아주 빙빙 돌아서 가장 basic한 것도 못 만들어서 결국 내가 document 하나 하나 참고해 가면서
간단한 것만 만들었다.

물론 안다. ai의 성능은 사용자의 지식에 exponential하게 비례한다. 체감 상 그러하다.
내가 linux에 대한 지식이 없기도 해서 각 커맨드가 뭐하는 애인지 모르기 때문에 더 어렵게 느껴진다.
어떻게 한 번 시간내서 바텀 업을 해야하긴 하는데, 사실 중요도가 낮은 것 같아서 그냥 넘어가고 싶다. 메인 로직과는 너무 동떨어져 있지 않은가.
