@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Nanum+Gothic&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", "Nanum Gothic", sans-serif;
    font-weight: 400;
    margin: 0;
}

html {
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 16px;
    }
}