@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/terminus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';
@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

body {
	/* Background */
	background-color: var(--body-background-color);
	@variant dark {
		background-color: var(--body-background-color-dark);
	}

	/* Typography */
	color: var(--base-font-color);
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
	font-weight: var(--base-font-weight);
	font-style: var(--base-font-style);
	letter-spacing: var(--base-letter-spacing);
	@variant dark {
		color: var(--base-font-color-dark);
	}
}

.shiki,
.shiki span {
	background-color: var(--shiki-background-color);

	@variant dark {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}

.shiki {
	padding: 1rem;
	text-overflow: ellipsis;
	font-size: 0.8rem;
	overflow: hidden;
}
