@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/terminus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

body {
	background-color: var(--body-background-color);
	color: var(--base-font-color);
	font-family: var(--base-font-family);
	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
	font-weight: var(--base-font-weight);
	font-style: var(--base-font-style);
	letter-spacing: var(--base-letter-spacing);
}
